@import "~reset-css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import "fonts";

* {
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $black;
  color: $white;
  font-family: "Roboto Mono", monospace;
  overflow: auto;
  overflow-x: hidden;
  max-width: 100%;
  @include customScrollBar();
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
strong {
  font-weight: bold;
}
::selection {
  color: $active;
  background: $white;
}
