.Layout {
  min-height: vh(100);
  &--loaded {
    filter: blur(20rem);
    opacity: 0;
    animation: loaded 2s ease 1s forwards;
  }
}

@keyframes loaded {
  0% {
    filter: blur(2rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    filter: blur(0rem);
  }
}
