@keyframes grain {
  0%,
  24%,
  100% {
    transform: translate(0, 0);
  }

  25%,
  49% {
    transform: translate(-2%, -3%);
  }
  50%,
  74% {
    transform: translate(-8%, 8%);
  }
  75%,
  99% {
    transform: translate(2%, -12%);
  }
}
@mixin grainEffect($time: 400) {
  opacity: 0.125;
  mix-blend-mode: screen;
  animation: grain #{$time}ms infinite;
}

@keyframes blurIn {
  from {
    filter: blur(0.25rem);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
.blurIn {
  filter: blur(0.25rem);
  opacity: 0;
  -webkit-animation-name: blurIn;
  animation-name: blurIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
