.Postlist {
  margin-top: px(92);
  margin-bottom: px(42);
  &__item {
    margin-bottom: px(72);
    border-bottom: 2px dashed $white;
    padding-bottom: px(32);
    .ShurikenRow {
      margin: px(14) 0;
    }
    .Text h2 {
      transition: letter-spacing 300ms ease-in-out;
      &:hover {
        letter-spacing: 0.2rem;
      }
    }
  }
  .CarouselCustom {
    margin-top: px(24);
  }
  .VideoAnimation {
    margin: px(30) 0;
  }
}
