.Postlist {
  margin-top: px(92);
  margin-bottom: px(42);
  &__item {
    margin-bottom: px(72);
    border-bottom: 2px dashed $white;
    padding-bottom: px(32);
    .ShurikenRow {
      margin: px(14) 0;
    }
    .Text {
      p {
        margin-bottom: px(15);
        text-align: justify;
      }
      h2 {
        margin-bottom: px(30);
        transition: letter-spacing 300ms ease-in-out;
        &:hover {
          letter-spacing: 0.2rem;
        }
      }
    }
  }
  .CarouselCustom {
    margin-top: px(24);
  }
  .VideoAnimation {
    margin: px(30) 0;
  }
}

.blurIn {
  -webkit-animation-name: blurIn;
  animation-name: blurIn;
  animation-timing-function: ease-in;
}

@keyframes blurIn {
  from {
    filter: blur(1rem);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
