.Postlist {
  margin-top: px(92);
  margin-bottom: px(42);
  &__item {
    margin-bottom: px(72);
    .Text h2 {
      border-top: 0.5px solid $white;
      margin-top: px(15);
      padding-top: px(30);
      transition: letter-spacing 300ms ease-in-out;
      &:hover {
        letter-spacing: 0.2rem;
      }
    }
  }
  .CarouselCustom {
    margin-top: px(24);
  }
  .VideoAnimation {
    margin: px(30) 0;
  }
}
