.LazyImage {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  // Add a smooth animation on loading
  @keyframes loaded {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  // I use utilitary classes instead of props to avoid style regenerating
  &.loaded:not(.has-error) {
    animation: loaded 300ms ease-in-out forwards;
    opacity: 1;
  }
  &.has-error {
    // fallback to placeholder image on error
  }
  &.clickable {
    cursor: pointer;
  }
}
