.Carousel {
  &__prevBtn,
  &__nextBtn {
    @include font-size(24);
    font-weight: 200;
  }
  .slider-slide {
    .slider-list {
      height: auto !important;
    }
  }
  .slider-slide > img {
    width: 100%;
    display: block;
    object-fit: cover !important;
  }
}
