.Footer {
  padding: px(42) 0;
  position: relative;
  bottom: 0;
  &__Social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    padding: px(24) 0;
  }
  &__disclaimer {
    text-align: center;
    margin-top: px(24);
  }
}
